@font-face {
    font-family: 'Sacramento';
    src: url('../fonts/Sacramento-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dark Mystic';
    src: url('../fonts/DarkMystic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



