



@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



